.myWorksBlock {
    height: 100vh;
    background-color: rgb(220, 167, 240);
}

.myWorksContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    background-color: rgb(198, 66, 99);
}

.myWorks {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}