@import '../common/styles/sass/variables.scss';

.mainBlock {
    height: 100vh;
    background-color: $bgColor;

    .text {
        width: 300px;
        // background-color: #f7f7f7;
        color: $textColor;
    }

    .photo {
        width: 300px;
        height: 400px;
        background-color: #f7f7f7;
    }
}