.footer {
    background-color: lawngreen;
    min-height: 150px;
}

.container {
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    margin: 0;
}

ul {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;
}
li {
    list-style-type: none;
    margin: 0px 10px;
}
